* {
    border: 0;
    margin: 0;
}

body {
    background-color: #79ADDC;
    display: flex;
    justify-self: center;
    align-items: center;
    align-content: center;
}

.box {
    height: 290px;
    width: 320px;
    background-color: #FFC09F;
    margin-top: 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.input input {
    width: 280px;
    margin-top: 10px;
    height: 17px;
    outline: none;
    text-align: end;
}

.passbox input {
    width: 290px;
    height: 14px;
    margin-top: 6px;
}

.lengthwritten {
    display: flex;
    gap: 183px;
}

.gaps {
    padding-top: 10px;
    display: flex;
}

.lowercase {
    gap: 74px;
}

.uppercase {
    gap: 71px;
}

.number {
    gap: 143px;
}

.symbol {
    gap: 143px;
}

.generate button{
    margin-top: 14px;
    width: 275px;
    height: 45px;
    margin-left: 20px;
    background-color: purple;
    color: #FCF5C7;
    border-radius: 20px;
}

.generate button:hover {
    background-color: rgb(80, 2, 80);
    color: #fcf5c7a2;
}